# Dependencies
/node_modules

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log 
.vercel

# production
/dist

# misc
*.local

# local env files
.env.local
.env.*.local

# Don't ignore public directory
# /public
